*.cc text eol=lf
*.cfg text eol=lf
*.el text eol=lf
*.h text eol=lf
*.gn text eol=lf
*.gni text eol=lf
*.golden text eol=lf
*.json text eol=lf
*.m text eol=lf
*.md text eol=lf
*.mm text eol=lf
*.ninja.template text eol=lf
*.plist text eol=lf
*.py text eol=lf
*.rs text eol=lf
*.storyboard text eol=lf
*.swift text eol=lf
*.tmLanguage text eol=lf
*.tmPreferences text eol=lf
*.vim text eol=lf
.gitattributes text eol=lf
.clang-format text eol=lf
.editorconfig text eol=lf
.gitignore text eol=lf
.style.yapf text eol=lf
AUTHORS text eol=lf
LICENSE text eol=lf
OWNERS text eol=lf
README.* text eol=lf