[submit]
	action = rebase always
[access "refs/heads/*"]
	forgeAuthor = group chrome-commit-bot
	push = group chrome-commit-bot
	push = group gn-committers
	label-Commit-Queue = +0..+2 group gn-committers
	labelAs-Commit-Queue = +0..+2 group chrome-commit-bot
	submit = group chrome-commit-bot
	submit = group gn-committers
	label-Code-Review = -2..+2 group gn-committers
[label "Commit-Queue"]
	abbreviation = CQ
	value = 0 Not ready
	value = +1 Dry run
	value = +2 Commit
	defaultValue = 0
	function = NoBlock
